* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

#parent {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#box1 {
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#box2 {
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}
#box3 {
    height: 200px;
    width: 200px;
    background-color: lightblue;
}

#main {
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav {
    height: 60px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h4 {
    color: white;
    font-weight: 400;
}

i {
    color: white;
}

#center {
    height: 80%;
    width: 100%;
    text-align: center;
    padding: 50px;
    background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg");
    background-size: cover;
    background-position: center;
}   

#center h1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
}

#center h5 {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

#links {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#links button {
    padding: 13px 20px;
    border-radius: 20px;
    border: none;
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

#links button:hover {
    background-color: orange;
}

#air {
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: rgb(245, 243, 243);
    margin: -50px 0;
    padding: 80px 0;
    background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_large.jpg");
    background-size: cover;
    background-position: center;
}

#iphone17 {
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: rgb(245, 243, 243);
    margin: 100px 0;
    padding: 40px 0;
    background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_large.jpg");
    background-size: cover;
    background-position: top;
}

#air h1,
#iphone17 h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
}

#air p,
#iphone17 p {
    color: black;
    font-size: 25px;
    font-weight: 200;
}

#links2 {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#links2 button {
    padding: 12px 17px;
    border-radius: 20px;
    border: none;
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

#links2 button:hover {
    background-color: orange;
}

#other {
    width: 100%;
    background-color: white;
    margin: -80px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    text-align: center;
    flex-wrap: wrap;
}

#watch {
    width: 49%;
    height: 600px;
    background-color: rgb(245, 243, 243);
    background-image: url("https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large.jpg");
    background-size: cover;
    background-position: center;
}


#airpods {
    width: 49%;
    height: 600px;
    background-color: rgb(245, 243, 243);
    background-image: url("https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large.jpg");
    background-size: cover;
    background-position: center;
}
#macbook {
    width: 49%;
    height: 600px;
    background-color: rgb(245, 243, 243);
    background-image: url("https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large.jpg");
    background-size: cover;
    background-position: center;
}
#ipad {
    width: 49%;
    height: 600px;
    background-color: rgb(245, 243, 243);
    background-image: url("https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large.jpg");
    background-size: cover;
    background-position: center;
}
#trade-in {
    width: 49%;
    height: 600px;
    background-color: rgb(245, 243, 243);
    background-image: url("https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large.jpg");
    background-size: cover;
    background-position: center;
}
#card {
    width: 49%;
    height: 600px;
    background-color: rgb(245, 243, 243);
    background-image: url("https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large.jpg");
    background-size: cover;
    background-position: center;
}